.nav-topbar {
  border: 0.2px solid #33101c;
  min-height: 80px;
}

.nav-topbar :focus :active {
  box-shadow: none !important;
}

button:focus :active {
  outline: none;
  box-shadow: none !important;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none !important;
}
