.user-total-projects {
  background: #d8cfb6 !important;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 200 !important;
  font-style: normal;
  color: #33101c;
}

.user-total-projects .card-title {
  font-size: 14px;
}

.project-total {
  font-size: 40px;
  color: #33101c;
}
