.project-header {
  background-color: #33101c;
}

.project-header h2 {
  color: #f3eee6 !important;
}

.project-header p {
  color: #f3eee6 !important;
  opacity: 0.3;
}

.project-status {
  opacity: 1 !important;
  font-size: 18px !important;
  text-transform: initial;
}

.project-description {
  border: 0.2px solid #33101c !important;
  color: #33101c;
}

.project-description p {
  color: #33101c !important;
  text-transform: initial;
  letter-spacing: 0.5px;
}

.project-room {
  background-color: #33101c;
}

.project-room h5 {
  color: #f3eee6 !important;
}
.project-room h6 {
  color: #f3eee6 !important;
  font-size: 28px !important;
}

.description {
  font-size: 18px !important;
  text-transform: none;
  letter-spacing: 0.5px;
}

.date {
  letter-spacing: 0.5px;
}

.project-room .dimensions p {
  font-size: 14px !important;
  color: #f3eee6 !important;
  text-transform: initial;
  letter-spacing: 0.5px;
}

.project-room hr {
  color: #f3eee6 !important;
  font-size: 28px !important;
}

.project-budget {
  background-color: #d8cfb6;
}

.project-budget p {
  color: #33101c !important;
}

.project-budget h6 {
  color: #33101c !important;
  font-size: 38px !important;
}

.project-client {
  border: 0.2px solid #d8cfb6 !important;
}

.project-client p {
  color: #33101c !important;
}

.project-client h6 {
  color: #33101c !important;
  font-size: 28px !important;
}

@media (max-width: 1200px) {
  .project-header h3 {
    font-size: 42px;
  }

  .project-budget h6 {
    font-size: 28px !important;
  }

  .project-description .description {
    font-size: 14px !important;
  }
}
