.users-projects p {
  color: #33101c;
  font-size: 12px;
  font-weight: 400;
}

.users-projects .card-title {
  font-size: 12px;
  opacity: 0.4;
}

.users-projects .page-title {
  color: #33101c;
}

.newProject-form input {
  font-family: "neue-haas-grotesk-display", sans-serif;
  color: #33101c;
  letter-spacing: 1px;
  font-size: 14px;
  border-radius: 3px;
}
.newProject-form textarea {
  font-family: "neue-haas-grotesk-display", sans-serif;
  color: #33101c;
  letter-spacing: 1px;
  font-size: 14px;
  border-radius: 3px;
}

.newProject-form select {
  font-family: "neue-haas-grotesk-display", sans-serif;
  color: #33101c;
  letter-spacing: 1px;
  font-size: 14px;
  border-radius: 3px;
}
