.user-daily-projects {
  background: #d8cfb6 !important;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 200 !important;
  font-style: normal;
}

.user-daily-projects .card-title {
  color: #33101c;
}

.table-group-divider th {
  font-weight: 400 !important;
  font-size: 12px;
}

.status {
  color: #d8cfb6;
  padding: 3px 6px;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
}

.status-planning {
  border: 0.2px solid #737881;
  background: #dadee3;
  color: #737881;
}

.status-active {
  border: 0.2px solid #4c70a3;
  background: #dcebfd;
  color: #4c70a3;
}

.status-on_hold {
  border: 0.2px solid #c2785b;
  background: #fdead7;
  color: #c2785b;
}

.status-completed {
  border: 0.2px solid #6fa258;
  background: #e4f6d9;
  color: #6fa258;
}

.status-cancelled {
  border: 0.2px solid #d35043;
  background: #ffe6e5;
  color: #d35043;
}

.status-archived {
  border: 0.2px solid #a290d5;
  background: #eae8fd;
  color: #a290d5;
}

.room-type {
  border: 1px solid #d8cfb6;
  background: #d8cfb6;
  color: #33101c;
  padding: 3px 6px;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
}

.project-category {
  border: 1px solid #d8cfb6;
  background: #d8cfb6;
  color: #33101c;
  padding: 3px 6px;
  font-size: 10px;
  font-weight: 300;
}

.completed {
  border: 1px solid #10800a;
  background: #10800a;
  color: #d8cfb6;
  padding: 3px 6px;
  font-size: 10px;
  font-weight: 300;
}

.not-completed {
  border: 1px solid #950818;
  background: #950818;
  color: #d8cfb6;
  padding: 3px 6px;
  font-size: 10px;
  font-weight: 300;
}
