body {
  margin: 0;
  padding: 0;
  background-color: #f3eee6;
}

@font-face {
  font-family: PPEditorial;
  src: url(fonts/PPEditorialNew-UltralightItalic.ttf);
}

a {
  color: #f3eee6 !important;
  text-decoration: inherit;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 200 !important;
  font-style: normal;
  letter-spacing: 1.1px;
  font-size: 14px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

a.logo {
  font-family: PPEditorial, serif;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 92px;
  color: #f3eee6;
  font-family: PPEditorial;
  font-weight: 100;
  font-style: italic;
}

h2 {
  font-size: 68px;
  color: #33101c;
  font-family: PPEditorial;
  font-weight: 100;
  font-style: normal;
}

h3 {
  font-size: 54px;
  color: #d8cfb6;
  font-family: PPEditorial;
  font-weight: 100;
  font-style: normal;
}

h4 {
  font-size: 32px;
  color: #f3eee6;
  font-family: PPEditorial;
  font-weight: 100;
  font-style: normal;
}

h6 {
  font-size: 18px;
  color: #33101c;
  font-family: PPEditorial;
  font-weight: 100;
  font-style: normal;
}

p {
  font-size: 18px;
  color: #f3eee6;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-style: normal;
}

td {
  font-size: 14px;
}

button {
  padding: 0.6em 1.6em;
  border: none;
  font-size: 14px;
  font-weight: 300;
  font-family: "neue-haas-grotesk-display", sans-serif;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #f3eee6;
  letter-spacing: 1.2px;
}

.red-btn {
  background-color: #33101c;
}

.red-btn:hover {
  background-color: #f3eee6;
  color: #33101c;
}

.white-btn {
  background-color: #d8cfb6;
  color: #33101c;
}

.outline-btn {
  border: 1px solid #f3eee6;
  background-color: transparent;
}

.outline-btn:hover {
  border: 1px solid #33101c;
  color: #33101c;
}

.outline-red-btn {
  border: 1px solid #33101c;
  color: #33101c;
  background-color: transparent;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
