.users-rooms .page-title {
  color: #33101c;
}

.room-categories .card {
  background: transparent !important;
  color: #33101c;
  border: 1px solid #33101c3b !important;
  cursor: pointer;
}

.room-categories .card:hover {
  background: #d8cfb68c !important;
}

.room-categories .card:active {
  background: #d8cfb68c !important;
}

.room-categories .card-title {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: inherit;
  letter-spacing: 1px;
}

.room-categories .card-subtitle {
  font-size: 12px;
  font-weight: 300;
  color: #33101c;
  opacity: 0.3;
}

.room-categories .card-link {
  text-decoration: underline;
}
