.header {
  padding-top: 50px;
}

.header.home {
  background-image: url(/imgs/homebgimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
}

.header.home p {
  width: 600px;
}

.header.about {
  background-color: #33101c;
  height: 500px;
}

.header.theviews {
  background-color: #f3eee6;
  height: 500px;
}

.header-content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 0 auto;
  height: 0px;
}

.about-header h2 {
  color: #d8cfb6 !important;
}

.about-header p {
  color: #d8cfb6 !important;
}

.theviews-header h2 {
  color: #33101c;
}

.theviews-header p {
  color: #33101c;
  font-weight: 300;
}

@media (max-width: 1500px) {
  .header.home h1 {
    width: auto;
  }

  .header.home p {
    width: 500px;
  }
}

@media (max-width: 1200px) {
  .header.home {
    background-image: url(/imgs/homebgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
  }

  .header.home h1 {
    width: auto;
  }

  .header.home p {
    width: 500px;
  }
  .header.about {
    height: 400px;
  }
}

@media (max-width: 600px) {
  header {
    padding-bottom: 20px;
  }
  .header.home {
    background-image: url(/imgs/homebgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
  }

  .header.home p {
    width: 330px;
  }
  .header.about {
    height: 350px;
  }

  img.logo {
    width: 300px !important;
  }
}
