nav {
  width: 90%;
  border: 1px solid #f3eee6;
  margin: 0 auto;
}

.logo {
  font-size: 24px !important;
  letter-spacing: -2px;
}

@media (max-width: 525px) {
  header {
    padding-bottom: 20px;
  }
  img.logo {
    width: 300px !important;
  }
}
