nav {
  width: 90%;
  margin: 0 auto;
}

.light {
  border: 1px solid #f3eee6;
  color: #f3eee6;
}

.dark {
  border: 1px solid #33101c;
  color: #33101c !important;
}

.dark a {
  color: #33101c !important;
  font-weight: 300 !important;
}

.logo {
  font-size: 24px !important;
  letter-spacing: -2px;
}

@media (max-width: 525px) {
  header {
    padding-bottom: 20px;
  }
  img.logo {
    width: 300px !important;
  }
}
