.nav-topbar {
  border: 0.2px solid #33101c;
  min-height: 80px;
}

.nav-topbar :focus :active {
  box-shadow: none !important;
}

button:focus :active {
  outline: none;
  box-shadow: none !important;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none !important;
}

.offcanvas {
  border: 1px solid #f3eee6;
  border-right: 1px solid #f3eee6 !important;
}

.user-offcanvas {
  background-color: #33101c;
}

.user-logo {
  width: 80px;
}

.topbar-menu .navline {
  border-bottom: 1px solid #33101c;
}

.user-offcanvas .offcanvas-header {
  border-bottom: 1px solid #f3eee6;
}

.offcanvas-body {
  height: 100vh;
  overflow-y: auto;
}
