.signup-img {
  background-image: url(/imgs/signup-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 800px;
}

@media (max-width: 600px) {
  .signup-img {
    background-position: bottom;
    min-height: 400px;
  }
}
