.signup-img {
  background-image: url(/imgs/signup-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 800px;
}

.form-control {
  border: 1px solid #33101c;
  background-color: transparent;
  width: 500px;
  padding: 10px;
  border-radius: 0px;
}

.form-check-input {
  border: 1px solid #33101c;
  border-radius: 0px !important;
  background-color: transparent;
}

.form-check-label {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 12px;
  color: #33101c;
  letter-spacing: 1px;
}

.login-btn {
  width: 500px;
}

hr {
  color: #33101c;
  width: 500px;
}

input::placeholder {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}

.form-check-label {
  text-transform: uppercase;
}
