.login-img {
  background-image: url(/imgs/signin-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
}

@media (max-width: 600px) {
  .login-img {
    min-height: 300px;
  }
}
